[tool.ruff]
select = ["E", "F", "I", "UP"]
target-version = "py311"
line-length = 120

[tool.black]
target-version =  ["py39"]
line-length = 120

[tool.pytest.ini_options]
addopts = "-ra --cov"
testpaths = [
    "tests"
]
pythonpath = ['.']
