# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions>=1.12.0
py-staticmaps==0.4.0
fastapi==0.95.1
nest-asyncio==1.5.6
opentelemetry-instrumentation-fastapi==0.38b0
azure-monitor-opentelemetry-exporter==1.0.0b5
