# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions>=1.12.0
py-staticmaps==0.4.0
fastapi==0.116.1
Pillow==9.5.0
nest-asyncio==1.6.0
opentelemetry-instrumentation-fastapi==0.48b0
azure-monitor-opentelemetry-exporter==1.0.0b29
